<div class="row">
  <div class="span3">
    <%= render partial: "shared/pagenav" %>
  </div>
  <div class="span9">
    <% @news_reports.each_with_index do |news,i| %>
      <% unless i == 0 %>
        <div class="hr sticker<%= StickerColor.get_random_color %>"/></div>
      <% end %>
      <div class="news-item row">
        <%= image_tag(news.preview.url(:small), class: i%2 == 1 ? "pull-right" : "pull-left" ) %>
        <h4><%= news.title %></h4>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= news.preview_text %><%= link_to "...more", news_report_path(news) %></p>
      </div>
    <% end %>
  </div>
</div>
