<div class="row margin40" id="stickers">
  <% @news.each_with_index do |news,i| %>
    <div class="span4">
      <div class="sticker well sticker<%=news.preview_color%>">
        <h4><%= news.title %></h4>
        <% unless news.text_up %>
          <%= image_tag(news.preview.url(:thumb)) %>
        <% end %>
        <div>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= news.preview_text %><%= link_to "...更多", news_report_path(news) %></p>
        </div>
        <% if news.text_up %>
          <%= image_tag(news.preview.url(:thumb)) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div><!-- end of row -->
<div class="row" id="stickers">
  <% @news2.each_with_index do |news,i| %>
    <div class="span4">
      <div class="sticker well sticker<%=news.preview_color%>">
        <h4><%= news.title %></h4>
        <% unless news.text_up %>
          <%= image_tag(news.preview.url(:thumb)) %>
        <% end %>
        <div>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= news.preview_text %><%= link_to "...更多", news_report_path(news) %></p>
        </div>
        <% if news.text_up %>
          <%= image_tag(news.preview.url(:thumb)) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div><!-- end of row -->
