<% items.each do |a| %>
  <tr>
    <td class="announce_date">
      <a href="<%= announcement_path(a) %>">
        <span><%= a.announce_date.to_s %></span>
      </a>
    </td>
    <td>
      <a class="<%= "sticky" if a.sticky %>" href="<%= announcement_path(a) %>">
        <span>
          <%= a.name %>
        </span>
      </a>
    </td>
  </tr>
<% end %>
