<ul class="nav nav-tabs" id="home-tabs">
  <% 
    tab_contents = []
    if I18n.locale == :"zh-TW"
      tab_contents << %Q{即時<br class="visible-980-1200"/>訊息}  \
                   << %Q{管院<br class="visible-980-1200"/>頻道}  \
                   << %Q{管院<br class="visible-980-1200"/>徵才}  \
                   << %Q{學生<br class="visible-980-1200"/>專區}
    else
      tab_contents << "News" << "Channel" << "Recruit" << "Students"
    end
  %>
    <li class="active">
      <a href="#announcements" data-toggle="tab"><%= tab_contents[0].html_safe %></a>
    </li>
    <li><a href="#youtube-channel" data-toggle="tab"><%= tab_contents[1].html_safe %></a></li>
    <li><a href="#recruiting" data-toggle="tab"><%= tab_contents[2].html_safe %></a></li>
    <li><a href="#students" data-toggle="tab"><%= tab_contents[3].html_safe %></a></li>
</ul>
<div class="tab-content well" id="home-tabs-content">
  <div id="announcements" class="tab-pane unstyled active">
    <table border="0">
    <% @announcements.each do |a| %>
      <tr>
        <td class="announce_date">
          <a href="<%= announcement_path(a) %>"><%= a.announce_date.to_s %></a>
        </td>
        <td><a href="<%= announcement_path(a) %>"><%= a.name %></a></td>
      </tr>
    <% end %>
    </table>
  </div>
  <ul id="youtube-channel" class="tab-pane unstyled">
    <% @videos.each do |v| %>
      <li>
        <a href="<%= html_escape v['video_url'] %>">
          <span class="video-thumb-wrapper">
            <span class="video-thumb">
              <span class="video-thumb-inner">
                <%= image_tag(v['thumb_url']) %>
              </span>
              <span class="duration"><%= v['duration'] %></span>
            </span>
          </span>
          <div class="video-info invisible-768-979">
            <span class="video-title"><%= v['title'] %></span><br />
            <span class="video-stats">
              <%= I18n.t "front_end.announce_date" %>: <%= "#{v['published_at']}" %>
            </span>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
  <div id="recruiting" class="tab-pane unstyled">
    <table border="0">
    <% @jobs_announcements.each do |a| %>
       <tr>
         <td class="announce_date">
           <a href="<%= announcement_path(a) %>"><%= a.announce_date.to_date.to_s %></a>
         </td>
         <td>
           <a href="<%= announcement_path(a) %>"><%= a.name %></a>
         </td>
       </tr>
    <% end %>
    </table>
  </div>
  <div id="students" class="tab-pane unstyled">
    <table border="0">
    <% @student_announcements.each do |a| %>
      <tr>
        <td class="announce_date">
          <a href="<%= announcement_path(a) %>"><%= a.announce_date.to_date.to_s %></a>
      </td>
        <td><a href="<%= announcement_path(a) %>"><%= a.name %></a></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
