<ul class="nav nav-tabs" id="home-tabs">
    <% first_appear = true %>
    <% appear_flag = -1 %>
    <% @tabs.each_with_index do |tab,i| %>
      <% if tab.visible %>
        <li class="<%= "active" if first_appear %>">
          <a data-toggle="tab" href="#home-tab-<%= i %>">
            <%= tab.first_name %><br class="visible-980-1200"/><%= tab.last_name %>
          </a>
        </li>
        <% appear_flag = i if first_appear == true%>
        <% first_appear = false %>
      <% end %>
    <% end %>
</ul>
<div class="tab-content well" id="home-tabs-content">
  <% @tabs.each_with_index do |tab,i| %>
    <% if tab.visible %>
      <% unless tab.is_youtube? %>
        <div id="home-tab-<%= i %>" class="tab-pane unstyled <%= "active" if appear_flag == i %>">
          <table border="0">
            <%= render partial: "pages/home/tab_contents", locals: { items: @tab_contents[i] } %>
          </table>
        </div>
      <% else %>
        <ul class="youtube-channel tab-pane unstyled <%= "active" if appear_flag == i %>" 
            id="home-tab-<%= i %>">
          <%= render partial: "pages/home/youtube_tab", locals: { videos: @tab_contents[i] } %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</div>
