<div id="footer">
  <div id="department-links-wrapper">
    <div class="container">
      <ol id="department-links" class="nav nav-pills">
        <% @department_names.each_with_index do |dname,i|  %>
          <% if i == 0 %>
            <li><%= link_to I18n.t("front_end.Management"), @management_link %></li>
          <% else %>
            <% unless dname == "GMBA" %>
              <li><%= link_to I18n.t("front_end.#{dname}"), @all_departments_links.at(i) %></li>
            <% else %>
              <li><%= link_to "GMBA", "/en/GMBA" %></li>
            <% end %>
          <% end %>
        <% end %>
      </ol>
    </div>
  </div><!-- end of department-links-wrapper -->
  <div id="info-wrapper">
    <div id="info" class="container">
      <span id="copyright">
        <small> &copy; National Taiwan University All Rights Reserved</small>
      </span>
      <address>
        <span><small><%= I18n.t("front_end.adress") %></small></span>
        <br/>
        <span>
          <small><%= I18n.t("front_end.phone") %>：+886-2-33661000; +886-2-33661008 <%= I18n.t("front_end.tax") %>：+886-2-23632082</small>
        </span>
      </address>
    </div><!-- end of info -->
  </div>
</div><!-- end of footer -->
