<div id="footer">
  <%= render partial: "shared/department_links", locals: { emba: true }%>
  <div id="info-wrapper" >
    <div id="emba-info" class="container">
   <ul style="display:inline-block;margin-top: 30px 30px 0 6pxpx">
		  <%= image_tag("QTEMLogo.jpg")%></ul>
		  <ul style="display:inline-block;margin-top: 30px ">
		  <%= image_tag("GMACLogo.jpg") %></ul>
		  <ul style="display:inline-block;margin-top: 30px ;text-align: right;float: right;">
          <span>
            <small> &copy; National Taiwan University All Rights Reserved</small>
          </span>
          <address>
            <span><small><%= @address %></small></span>
            <br/>
            <span>
              <small><%= I18n.t("front_end.phone") %>：<%= @phone_one %>; <%= @phone_two %> 
              <%= I18n.t("front_end.tax") %>：<%= @tax_num %></small>
            </span>
          </address></ul>
	
	  
	 
      </div>
    </div><!-- end of info -->
  </div>
</div><!-- end of footer -->
  