<div id="header-wrapper">
  <div class="container" id="header">
    <div class="row">
      <div class="span6">
        <h1><%= link_to @current_department_name, @current_department_name.match(/management/i) ? @management_link : @current_department_link %></h1>
      </div>
      <div class="span4 offset2">
        <form class="form-search">
          <input type="text" placeholder="站內搜尋" class="input-medium search-query">
          <button type="submit"><i class="icon-search"></i></button>
        </form>
        <% if I18n.locale == :en %>
          <%= link_to "中文", "/" %>
        <% else %>
          <%= link_to "en", "/en" %>
        <% end %>
        <%= link_to "聯絡我們", "/contact" %>
        <%= link_to "網站導覽", "/sitemap" %>
        <%= link_to "台大首頁", "http://www.ntu.edu.tw" %>
      </div>
    </div><!-- row -->
  </div><!-- header -->
</div><!-- header-wrapper -->
