<div class="row">
  <div class="span3">
    <%= render partial: "shared/pagenav" %>
  </div>
  <div class="span9">
    <h3>
      <% if @page.title_url.to_s.empty? %>
        <%= @page.title %>
      <% else %>
        <%= link_to @page.title, @page.title_url %>
      <% end %>
    </h3>
    <div class="user-input-content">
      <% @output = Nokogiri::HTML::DocumentFragment.parse(@page.content) %>
      <%= raw @output.to_html %>
    </div>
    <% @page.page_parts.each do |part| %>
      <h3><%= part.title %></h3>
      <div class="user-input-content">
        <% output = Nokogiri::HTML::DocumentFragment.parse(part.content) %>
        <%= raw output.to_html %>
      </div>
    <% end %>
    <%= render "shared/attachments", documents: @page.documents %>
    <%= render partial: "shared/sub_pages" unless @page.sub_page_sections.empty? %>
  </div>
</div>
