<div class="row">
  <div class="span3">
    <%= render partial: "shared/pagenav" %>
  </div>
  <div class="span9">
    <div id="expanding" class="accordion">
        <% @departments.each_with_index do |d,i| %>
          <% 
            stuff_color = ""
            border_color = ""
            background = ""
            if i%3 == 0
              stuff_color = "stuffing-green"
              border_color = "green-border"
              background = "green-pixel-pattern"
            elsif i%3 == 1
              stuff_color = "stuffing-blue"
              border_color = "blue-border"
              background = "blue-pixel-pattern"
            else
              stuff_color = "stuffing-orange"
              border_color = "orange-border"
              background = "orange-pixel-pattern"
            end
          %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <div class="department-stuffing stuffing <%= stuff_color %>">
                <span class="department-inner-stuffing inner-stuffing <%= stuff_color %>">&nbsp;</span>
              </div>
              <a data-parent="expanding" href="#ttc_<%= d %>"
                 class="accordion-toggle teacher-department" data-toggle="collapse">
                 <%= I18n.t "front_end.teacher.department.#{d}" %>
              </a>
            </div>
            <div class="accordion-body collapse
              <%= "in" if @current_department_name.downcase != "management"%>" id="ttc_<%= d %>">
              <div class="accordion-inner">
                <% @title_categories.each_with_index do |tc,i| %>
                  <span class="teacher_title">
                    <%= tc.title_name %>
                  </span>
                  <ul class="teachers <%= border_color %> <%= background %>">
                    <% ts =  @teachers.select{|ts| ts.teacher_title == tc 
                                      }.select{|ts| ts.department == Department.find_by_name(d) } %>
                    <% unless ts.empty? %>
                      <% ts.each do |teacher| %>   
                        <li class="teacher-item">
                          <%= link_to teacher.name, teacher_path(teacher) %>
                        </li>
                      <% end %>
                    <% else %>
                      <li>
                        <%= I18n.t "front_end.teacher.none" %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </div> <!-- .accordion-inner -->
            </div> <!-- .accordion-body -->
          </div> <!-- .accordion-group -->
        <% end %>
    </div> <!-- #expanding -->
  </div> <!-- end of span 9 -->
</div> <!-- end of row -->
