<div class="row">
  <div class="span3">
    <%= render partial: "shared/pagenav" %>
  </div>
  <div class="span9">
    <div class="title-wrapper border-<%= @color %>">
      <div class="teacher-stuffing stuffing stuffing-<%= @color %>">
        <span class="teacher-inner-stuffing inner-stuffing stuffing-<%= @color %>">&nbsp;</span>
      </div>
      <span><%= @teacher.teacher_title.title_name %></span>
    </div>
    <div class="teacher-data-container">
      <div class="teacher-pic-wrapper">
        <img src="<%= @teacher.avatar.url %>" 
             alt="<%= @teacher.teacher_title.title_name + " " + @teacher.name %>" 
             class="teacher-avatar"/>
      </div>
      <div class="teacher-data">
        <table class="">
          <tr>
            <td><%= I18n.t "front_end.teacher.title" %></td>
            <td><%= @teacher.teacher_title.title_name %></td>
          </tr>
          <tr>
            <td><%= I18n.t "front_end.teacher.name" %></td>
            <td><%= @teacher.name %></td>
          </tr>
          <tr>
            <td><%= I18n.t "front_end.teacher.room" %></td>
            <td><%= @teacher.room %></td>
          </tr>
          <tr>
            <td><%= I18n.t "front_end.teacher.phone" %></td>
            <td><%= @teacher.phone %></td>
          </tr>
          <tr>
            <td><%= I18n.t "front_end.teacher.cellphone" %></td>
            <td><%= @teacher.cellphone %></td>
          </tr>
          <tr>
            <td><%= I18n.t "front_end.teacher.tax" %></td>
            <td><%= @teacher.tax_number %></td>
          </tr>
          <tr>
            <td><%= I18n.t "front_end.teacher.homepage" %></td>
            <td><%= link_to @homepage, @homepage %></td>
          </tr>
          <tr>
            <td><%= I18n.t "front_end.teacher.email" %></td>
            <td><%= mail_to @teacher.email, @teacher.email %></td>
          </tr>
          <tr>
            <td valign="center"><%= I18n.t "front_end.teacher.research_areas" %></td>
            <td>
              <% @teacher.research_areas.each do |ra| %>
                <li><%= ra.name %></li>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="title-wrapper border-<%= @color %>">
      <div class="tab-stuffing stuffing stuffing-<%= @color %>">
        <span class="tab-inner-stuffing inner-stuffing stuffing-<%= @color %>">&nbsp;</span>
      </div>
      <ul class="info-tabs">
        <li class="active">
          <a href="#teacher-course" data-toggle="tab">
            <%= I18n.t "front_end.teacher.educational_backgrounds" %> & 
            <%= I18n.t "front_end.teacher.courses" %>
          </a>
        </li>
        <li>
          <a href="#teacher-history" data-toggle="tab">
            <%= I18n.t "front_end.teacher.honor" %> &
            <%= I18n.t "front_end.teacher.history" %>
          </a>
        </li>
        <li>
          <a href="#teacher-paper" data-toggle="tab">
            <%= I18n.t "front_end.teacher.publication.paper" %>
          </a>
        </li>
        <li>
          <a href="#teacher-conference" data-toggle="tab">
            <%= I18n.t "front_end.teacher.publication.conference" %>
          </a>
        </li>
        <li>
          <a href="#teacher-book" data-toggle="tab">
            <%= I18n.t "front_end.teacher.publication.book" %>
          </a>
        </li>
        <li>
          <a href="#teacher-other" data-toggle="tab">
            <%= I18n.t "front_end.teacher.publication.other" %>
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane active" id="teacher-course">
        <%= render partial: "teacher_title_bar",
                   locals: { title_name: I18n.t("front_end.teacher.educational_backgrounds") } %>
        <div class="items">
          <% unless @teacher.educational_backgrounds.empty? %>
            <ul>
              <% @teacher.educational_backgrounds.each do |eb| %>
                <li><%= eb.name %></li>
              <% end %>
            </ul>
          <% else %>
            <div><%= I18n.t "front_end.teacher.no_data" %></div>
          <% end %>
        </div>
        <%= render partial: "teacher_title_bar",
                   locals: { title_name: I18n.t("front_end.teacher.courses") } %>
        <div class="items">
          <% unless @teacher.courses.empty? %>
          <ul>
            <% @teacher.courses.each do |course| %>
              <li>
              <% if course.course_url.to_s.empty? %>
                <%= course.name %>
              <% else %>
                <%= link_to course.name, course.course_url %>
              <% end %>
              </li>
            <% end %>
          </ul>
          <% else %>
            <div><%= I18n.t "front_end.teacher.no_data" %></div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane" id="teacher-history">
        <%= render partial: "teacher_title_bar",
                   locals: { title_name: I18n.t("front_end.teacher.honor") } %>
        <div class="items">
          <% unless @teacher.honor.to_s.empty? %>
            <ul>
              <%= raw sanitize(simple_format(@teacher.honor), :tags => %w(br p) ) %>
            </ul>
          <% else %>
            <div><%= I18n.t "front_end.teacher.no_data" %></div>
          <% end %>
        </div>
        <%= render partial: "teacher_title_bar",
                   locals: { title_name: I18n.t("front_end.teacher.history") } %>
        <div class="items">
          <% unless @teacher.history.to_s.empty? %>
            <ul>
              <%= raw sanitize(simple_format(@teacher.history), :tags => %w(br p) ) %>
            </ul>
          <% else %>
            <div><%= I18n.t "front_end.teacher.no_data" %></div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane" id="teacher-paper">
        <%= render partial: "teacher_title_bar",
                   locals: { title_name: I18n.t("front_end.teacher.publication.paper") } %>
        <div class="items">
          <% if @paper.present? %>
            <ul class="publications" >
              <% @paper.each do |paper| %>
                <li>
                  <%="#{paper[:author]}" %>
                  <%=", #{paper[:year]}" unless paper[:year].to_s.empty? || paper[:year] == "N/A" || paper[:year] == "0"%>
                  <%=", #{paper[:title]}" unless paper[:title].to_s.empty? || paper[:title] == "N/A" || paper[:title] == "0"%>
                  <%=", #{paper[:journal]}" unless paper[:journal].to_s.empty? || \
                                                 paper[:journal] == "N/A" || paper[:journal] == "0"%>
	              <%=", Vol.#{paper[:volume]}" unless paper[:volume].to_s.empty? || \
							                       paper[:volume] == "N/A" || paper[:volume] == "0"%>
				  <%=", No.#{paper[:volumeno]}" unless paper[:volumeno].to_s.empty? || \
								 				  paper[:volumeno] == "N/A" || paper[:volumeno] == "0"%>
			      <%=", Pages #{paper[:beginpage]}" unless paper[:beginpage].to_s.empty? || paper[:beginpage] == "N/A" || paper[:beginpage] == "0"%>
				  <%="- #{paper[:endpage]}" unless paper[:endpage].to_s.empty? || \
			       paper[:endpage] =="N/A" || paper[:endpage] =="0"%>											  
                  <%=", #{paper[:remarks]}" unless paper[:remarks].to_s.empty? || \
                                                 paper[:remarks] == "N/A" || paper[:remarks] == "0"%>
                  <%=" (#{paper[:cate]})" unless paper[:cate].to_s.empty? || paper[:cate] == "N/A" || paper[:cate] == "0" %>
				  <%=", (#{paper[:subgroup]})" unless paper[:subgroup].to_s.empty? || \
								             paper[:subgroup] =="N/A" || paper[:subgroup].blank?%>	
                </li>
              <% end %>
            </ul>
          <% else %>
            <div><%= I18n.t "front_end.teacher.no_data" %></div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane" id="teacher-conference">
        <%= render partial: "teacher_title_bar",
                   locals: { title_name: I18n.t("front_end.teacher.publication.conference") } %>
        <div class="items">
          <% if @conference_paper.present? %>
            <ul class="publications" >
              <% @conference_paper.each do |paper| %>
                <li>
                  <%="#{paper[:author]}" %>
                  <%=", #{paper[:year]}" unless paper[:year].to_s.empty? || paper[:year] == "N/A" %>
                  <%=", #{paper[:title]}" unless paper[:title].to_s.empty? || paper[:title] == "N/A" %>
                  <%=", #{paper[:conference]}" unless paper[:conference].to_s.empty? || \
                                                  paper[:conference] == "N/A"%>
                  <%=", #{paper[:date]}" unless paper[:date].to_s.empty? || \
                                                  paper[:date] == "N/A"%>
                  <%=", (#{paper[:location]})" unless paper[:location].to_s.empty? || \
                                                  paper[:location] == "N/A" %>
                  <%=", #{paper[:remarks]}" unless paper[:remarks].to_s.empty? || \
																        paper[:remarks] == "N/A" || paper[:remarks] == "0"%>
                </li>
              <% end %>
            </ul>
          <% else %>
            <div><%= I18n.t "front_end.teacher.no_data" %></div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane" id="teacher-book">
        <%= render partial: "teacher_title_bar",
                   locals: { title_name: I18n.t("front_end.teacher.publication.book") } %>
        <div class="items">
          <% if @books.present? %>
            <ul class="publications">
              <% @books.each do |book| %>
                <li>
                  <%="#{book[:author]}" %>
                  <%=", #{book[:year]}" unless book[:year].to_s.empty? || book[:year] == "N/A" %>
                  <%=", #{book[:title]}" unless book[:title].to_s.empty? || book[:title] == "N/A" %>
                  <%=", #{book[:remarks]}" unless book[:remarks].to_s.empty? || \
                                                  book[:remarks] == "N/A"%>
                  <%=", #{book[:publisher]}" unless book[:publisher].to_s.empty? || \
                                                  book[:publisher] == "N/A"%>
                  <%=" (#{book[:book_title]})" unless book[:book_title].to_s.empty? || \
                                                  book[:book_title] == "N/A" %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <div><%= I18n.t "front_end.teacher.no_data" %></div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane" id="teacher-other">
          <%= render partial: "teacher_title_bar",
                     locals: { title_name: I18n.t("front_end.teacher.publication.other") } %>
          <div class="items">
            <% if !@use_ntu_data %>
              <div><%= I18n.t "front_end.teacher.no_data" %></div>
            <% elsif @other_publications.present? %>
              <ul class="publications">
                <% @other_publications.each do |book| %>
                  <li>
                    <%="#{book[:author]}" %>
                    <%=", #{book[:year]}" unless book[:year].to_s.empty? || book[:year] == "N/A" %>
                    <%=", #{book[:title]}" unless book[:title].to_s.empty? || book[:title] == "N/A" %>
                    <%=", #{book[:remarks]}" unless book[:remarks].to_s.empty? || \
                                                    book[:remarks] == "N/A"%>
                    <%=", #{book[:publisher]}" unless book[:publisher].to_s.empty? || \
                                                    book[:publisher] == "N/A"%>
                    <%=" (#{book[:book_title]})" unless book[:book_title].to_s.empty? || \
                                                    book[:book_title] == "N/A" %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
