<!DOCTYPE html>
<html charset="uft-8">
<head>
  <title>NTUMB</title>
  <link rel="shortcut icon" href="/favicon.ico?v=3" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    controller_name, :media => "all" %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="non-footer">
    <%= render :partial => "shared/header" %>
    <%= render :partial => "shared/menu" %>
    <div id="main-wrapper">
      <div id="main" class="container">
        <%= yield %>
      </div><!-- end of main container -->
    </div><!-- end of main-wrapper -->
    <div id="push"></div>
  </div>
  <%= render partial: "shared/footer" %>
</body>
</html>
